# Visual Studio 缓存文件夹
.vs/

# 编译文件夹（忽略）
x64/
Debug/
Release/

# 编译输出目录（Debug / Release 等）
Win32/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp

# 资源缓存（必须忽略）
*.aps

# 用户配置和筛选器（忽略）
*.user
*.filters

*.suo
*.sdf
*.opensdf
*.opendb
*.VC.db

# 临时文件
*.tmp
*.log
*.cache

# 系统文件
.DS_Store
Thumbs.db

# 如果你用 CMake 生成的临时文件夹（可选）
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake